<div class="container">
    <button class="menuButton" mat-fab color="primary" (click)="toggle()" aria-label="Menü">
        <mat-icon>menu</mat-icon>
    </button>
    <span><mat-icon>account_circle</mat-icon>  Patrick Pußwald<br/><mat-icon>mail</mat-icon>  patrick@pusswald.me</span>
</div>

<mat-sidenav-container *ngIf="navToggle" [@sidebarAni] class="menu" [hasBackdrop]="true">
    <mat-sidenav #sideBar></mat-sidenav>
    <mat-sidenav-content class="sideBar" (mouseleave)="toggle()" color="accent">

        <div>
            <button class="menuButton" mat-fab color="accent" (click)="toggle()" aria-label="Menü">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <div>
            <mat-nav-list>
                <mat-list-item class="navItem" *ngFor="let item of navList" (click)="sendPage(item.value)">
                    <h3 class="navHeader">{{item.name}}</h3>
                    <button class="icon" mat-icon-button color="accent" matListItemMeta>
                        <mat-icon>{{item.icon}}</mat-icon>
                    </button>
                </mat-list-item>
            </mat-nav-list>  
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>