.container {
    display: flex;
    justify-content: space-between;
}

.container span {
    font-size: 25px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

.menu {
    position: fixed;
    background-color: #1d3c45;
    width: 400px;
    height: 100%;
    top: 0;
}

.menuButton {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sideBar {
    border-right: #d2601a 4px solid;
}

.navHeader {
    color: white;
}

.navItem {
    border-top: solid #d2601a 2px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navItem :hover {
    color: #d2601a;
}

@media screen and (max-width: 900px) {
    .container span {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .container span {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .container span {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .icon {
        visibility: hidden;
    }
}