.container {
    position: sticky;
    border-top: solid #d9783c 5px;
    border-bottom: solid #d9783c 5px;
    background-color: #ffe7cd;
    display: flex;
    justify-content: space-between;
}

.arrow {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ffe7cd;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.content {
    width: 90%;
    height: auto;
}

.left {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media only screen and (min-width: 991px) {
    .arrow:hover {
        background-color: #d9783c;
    }
}

.icon {
    height: 90%;
    display: flex;
    align-items: center;
}

.icon:hover {
    color: white;
}

.iconLeft {
    transform: rotate(180deg);
}
