<mat-grid-list class="container" [cols]="4" rowHeight="2:1.4">
    <mat-grid-tile [colspan]="2" [rowspan]="3">
        <img class="laptop" src="assets/images/laptop.png" alt="Das bin ich.">
    </mat-grid-tile>  
    <mat-grid-tile class="tile" [colspan]="2" [rowspan]="2">^
        <h1>Über mich</h1>
        <span>Ich bin 29 Jahre alt, verheiratet und glücklicher Familienvater. Seit 14 Jahren bin ich in der Seilbahnbranche tätig.<br/> 
        2021 hab ich berufsbegleitend mit dem Informatikstudium an der IU begonnen.
        </span>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="skills">
            <img class="angular image" src="assets/images/angular.png" alt="Angular Logo">
            <ul>
                <li>Angular</li>
                <li>Typescript</li>
                <li>Javascript</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
    </mat-grid-tile> 
    <mat-grid-tile>
        <div class="skills">
            <img class="spring image" src="assets/images/spring.png" alt="Spring Logo">
            <ul>
                <li>Spring</li>
                <li>Spring Boot</li>
                <li>Hibernate</li>
                <li>PostgreSQL</li>
                <li>Git</li>
            </ul>
        </div>
    </mat-grid-tile> 
</mat-grid-list>

