.stepper {
    background-color: #ffe7cd;
}

.step {
    display: flex;
    justify-content: space-around;
    border: solid #d9783c 3px;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: rgba(29, 60, 69, 1);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.step span {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    max-width: 800px;
    text-align: center;
}

.step img {
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 50%;
    border: solid #d9783c 4px
}

@media screen and (max-width: 480px) {
    .step {
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 5px;
    }

    .step span {
        margin-left: 1px;
        margin-right: 1px;
        font-size: smaller;
    }
}